@import url('https://fonts.cdnfonts.com/css/flapdoodle');
@import url(https://db.onlinewebfonts.com/c/086c09b345acadb750be74185af9afbe?family=Colossalis+Black);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


body {
  overflow-x:hidden;
  color:#FFF;
  font-family:Helvetica;
  font-size:200%;
}

*{
  margin:0;
  padding:0;
}



/* 

Primära färger (Rustik & Modern)
Mörkbrun (#3D2B1F) – För att skapa en rustik träkänsla.
Dov Orange (#D97904) – En varm accentfärg som påminner om läder och eld.
Sekundära färger (Naturliga toner)
Sandbeige (#E6D5B8) – Bakgrundsfärg för en mjuk, naturlig känsla.
Skogsgrön (#476A2E) – En mörkgrön som ger en organisk touch.
Kompletterande färger (För interaktion & kontrast)
Mörkgrå (#2C2C2C) – För texter och detaljer där svart skulle kännas för hårt.
Ljusgrå (#A8A8A8) – Subtila hover-effekter och bakgrunder till pris- eller produktinfo.
Färgschemat kombinerar en modern, mörk look med varma, jordnära toner för att behålla en rustik känsla. Perfekt för en stilren, men samtidigt robust hemsida


Fonts:
Roboto Slab
Bebas Neue
Oswald
*/

.header{
  position: fixed;
  display: flex;
  height:10vh;
  background-color: #3D2B1F;
  width:100%;
  left:0;
  top:0;
  z-index: 100;
}

.loggacontainer img{
  display: block;
  margin: 0;
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  width:25vh;
  transition-duration: 0.3s;
}

.loggacontainer img:hover{
  filter: drop-shadow(0px 0px 13px #d0881b);
}

.headerleft{
  width:40vh;
  position: absolute;
  left:0;
  height:10vh;
  display: flex;
}

.header a{
  font-family: "Colossalis Black";
  text-decoration: none;
  color: white;
  font-size: 3vh;
  line-height: 10vh;
  margin-left: 5vh;
  transition-duration: 0.3s;
}

.header a:hover{
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 0px 10px #ff8000, 0 0px 20px #F00;
  color: #faf5ed;
}

.headerright{
  width:auto;
  position: absolute;
  right:0;
  height:10vh;
  display: flex;
  padding-right: 5vh;
}

#page {
  overflow:hidden;
  white-space:nowrap;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  background-color:#CCC;
  display:flex;
  flex-wrap:no-wrap;
}

.pane {
  flex:0 0 100vw;
  height:100vh;
  display:block;
  flex-flow: row wrap; 
  position:relative;
  align-items:center;
  justify-content:center;
  background-color: #45CCFF;
}


.pane:nth-child(4n+2)  {
  background-color: #49E83E;
}

.pane:nth-child(4n+3)  {
  background-color: #EDDE05;
}

.pane:nth-child(4n+4)  {
  background-color: #E84B30;
}

.pane:last-child {
  background-color: #45CCFF;
}

.footer{
  width:100%;
  height: 10vh;
  background-color: #3D2B1F;
  position: fixed;
  left:0;
  bottom: 0;
  z-index: 100;
  font-family: 'Roboto Slab', serif;
  font-size: 2vh;
  display: flex;
  align-items: center;
}

.kontakt{
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-self: center;
  gap:1.5vh;
}

.footerright{
  position: absolute;
  right: 20px;
  text-align: center;
}

.footer a{
  color:white;
  transition-duration: 0.3s;
}

.footer a:hover{
  text-shadow: 0 -1px 4px #FFF, 0 -2px 4px rgba(255, 255, 0, 0.481), 0 0px 7px #ff80007b, 0 0px 10px rgba(255, 0, 0, 0.464);
}

/* FOOTER & HEADER ÖVER */



.pane:nth-child(1){   
    background-image: url("bilder/free-photo-of-man-sitting-on-a-harley-davidson-motorcycle-on-the-road.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.518);
    background-blend-mode: multiply;

}

.pane:nth-child(4){   
  background-image: url("bilder/bikergang.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.518);
  background-blend-mode: multiply;

}


.pane:nth-child(1) h1{
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px 10px black;
  font-size: 8vh;
  margin-left: 5vh;
  inline-size: 90vw;
}

.pane:nth-child(1) h2{
  margin-left: 5vh;
  font-family: 'Roboto Slab', serif;
  font-size: 3vh;
  width:100vw;
  text-shadow: 5px 5px 10px 10px black;
  inline-size: 90vw;
}

.textpane1{
  text-align: center;
  margin-top: 35vh;
  text-wrap: pretty;
}

.textpane2{
  text-align: center;
  margin-top:25vh;
  text-wrap: pretty;
  padding:15vh;
  padding-top:0;
  font-family: 'Roboto Slab', serif;
  font-size: 3.2vh;
}

.textpane4{
  text-align: center;
  margin-top:25vh;
  text-wrap: pretty;
  padding:15vh;
  padding-top:0;
  font-family: 'Roboto Slab', serif;
  font-size: 3.2vh;
}


.textpane3{
  text-align: center;
  margin-top:25vh;
  text-wrap: pretty;
  margin-left: 5vh;
  font-family: 'Roboto Slab', serif;
  font-size: 3vh;
  width:100vw;
  text-shadow: 5px 5px 10px 10px black;
  inline-size: 90vw;
}

.textpane3 h2{
  margin-bottom: 40px;
  font-size: 7vh;
}


.textpane3 h3{
  margin-bottom: 10px;
  font-size: 4vh;
}

.bilder{
  justify-content: center;
  text-align: center;
  display: flex;
  gap:1vh;
  
}

.bilder img{
  width:40vh;
  border: 4px solid #291d15;
  border-radius: 1vh;
}

.textpane3 a{
  text-decoration: none;
  background-color: rgb(86, 60, 18);
  color:white;
  padding:15px;
  font-family: 'Roboto Slab', serif;
  transition-duration: 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}

.textpane3 a:hover{
  background-color: #291d15;
}

.textpane4 a{
  text-decoration: none;
  background-color: rgb(86, 60, 18);
  color:white;
  padding:15px;
  font-family: 'Roboto Slab', serif;
  transition-duration: 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}

.textpane4 a:hover{
  background-color: #291d15;
}


.pane:nth-child(3){   
  background-image: url("bilder/svinya-priroda-fon-3521.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.518);
  background-blend-mode: multiply;

}

.pane:nth-child(2){   
  background-image: url("bilder/textpane2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.518);
  background-blend-mode: multiply;

}


/* Integritetspolicy och sekretess under */

.integritespolicy{
  color: black;
  font-family: 'Roboto Slab';
  font-size: 1.5vh;
}

.titelsekint{
  color: black;
  font-family: 'Roboto Slab';
}

.headerdivider{
  height: 10vh;
  position:sticky;
  top:0;
  width: 100%;
}

.footerdivider{
  height: 10vh;
  position:sticky;
  bottom:0;
  width: 100%;
}

.textcontainer{
  padding:20vh;
  background-color: #FAFAFA;
  padding: 40px;
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Slab', serif;
}

.bakgrundint {
  background-image: url(bilder/nevada-usa-desert-canyon-cactus-sunset-sky-clouds-mountains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.bakgrundsek{
  background-image: url(bilder/bikerroad-ezgif.com-webp-to-jpg-converter.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}



/* Kontakta oss  UNDER*/


.bakgrundkontakt {
  background-image: url(bilder/desertroad.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}

.formcontainer{
  background-color: #FAFAFA;
  padding: 40px;
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Slab', serif;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-input label{
  font-size: 18px;
  font-weight: bold;
  color: #1C1F33;
}

.form-input input, .form-input select{
  padding: 15px;
  font-size: 16px;
  border: 2px solid #E6D5B8;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.form-input input:focus, .form-input select:focus{
  border-color: #1C1F33;
  outline: none;
}

.submitbutton{
  background-color: #E6D5B8;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitbutton:hover{
  background-color: #3D2B1F;
}



/* MERCH PAGE UNDER */



.merchheader{
  font-family: "Colossalis Black";
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  letter-spacing: 1vh;
  text-shadow: 0px 0px 10px black;
}

.products {
  border: solid 5px #3D2B1F;
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NzY0OTU1LWltYWdlLWt3dnhlMmNsLmpwZw.jpg);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}

.product {
  border: solid 5px #3d2b1f66;
  background: #3d2b1fe3;
  padding: 15px;
  border-radius: 3px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.products button {
  font-family: 'Bebas Neue', sans-serif;
  background: #a0522d;
  color: white;
  border: none;
  padding: 10px;
  margin:0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8em;
  transition-duration: 0.3s;
}
.products button:hover {
  background: #442209;
}

.products h2{
  font-family: 'Roboto Slab', serif;
  font-size: 3vh;
}

.products p{
  font-family: 'Roboto Slab', serif;
  font-size: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.background{
  height:100%;
  padding-bottom: 20vh;
  background-image: url(bilder/pexels-photo-2611691.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}


.cart {
  font-family: 'Roboto Slab', serif;
  position: fixed;
  right: 20px;
  top: 10vh;
  background: #3D2B1F;
  padding: 20px;
  border: 4px solid #291d15;;
  text-align: center;
}

.cart button{
  font-family: 'Roboto Slab', serif;
  padding:10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.cart button:hover{
  background-color: rgb(197, 197, 197);
}

.product-info {
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events:none
}

.product:hover .product-info {
  opacity: 1;
}

/* SIZING UNDER */

@media only screen and (max-width: 1200px) and (min-width: 950px) {
  .loggacontainer img {
    width:20vh;
  }

  .header a{
    font-size: 20px;
  }

  .textpane2{
    font-size: 2.5vh;
  }

  .textpane3{
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 950px) and (min-width: 600px) {
  .loggacontainer img {
    width:10vh;
  }

  .header a{
    font-size: 20px;
  }

  .kontakt{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    display:block;
  }

  .headerright{
    font-size: 18px;
  }


  .textpane1{
    margin-top: 25vh;
  }

  .textpane2{
    font-size: 2vh;
  }

  .textpane3{
    font-size: 2vh;
  }
}


@media only screen and (max-width: 600px) and (min-width: 400px) {
  .loggacontainer img {
    width:0;
  }

  .header a{
    font-size: 20px;
  }

  .kontakt{
    display:none;
  }

  
  .footerright{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    right: 0px;
  }

  .textpane1{
    margin-top: 25vh;
  }

  .pane:nth-child(1) h1{
    margin-left: 2vh;
  }

  .pane:nth-child(1) h2{
    margin-left: 2vh;
  }

  .textpane2{
    font-size: 2vh;
  }
  .textpane3{
    font-size: 2vh;
  }
}

@media only screen and (max-width: 400px) {
  .loggacontainer img {
    width:0;
  }

  .header a{
    font-size: 12px;
  }

  .kontakt{
    display:none;
  }

  .footerright{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    right: 0px;
  }

  .textpane1{
    margin-top: 20vh;
  }

  .textpane2{
    font-size: 2vh;
  }

  .pane:nth-child(1) h1{
    margin-left: 2vh;
  }

  .pane:nth-child(1) h2{
    margin-left: 2vh;
  }

  .textpane3{
    font-size: 2vh;
  }
}